body
	{
		width: 100%;
		height: 100%;
		margin: 0;
	}
h1
	{
		margin: 0;
	}
.left
	{
		margin: 0;
		float: left;
	}
.right
	{
		margin: 0;
		float: right;
	}
a:visited
	{
		color: blue;
	}
#stop
	{
		width: 50%;
		height: 50%;
	}
#go
	{
		width: 45%;
		height: 45%;
	}
#frame 
	{
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
#home
	{
		width: 50%;
		position: absolute;
		background-color: rgba(46, 120, 230, .4);
		color: rgba(0,0,0,.8);
		height: 100%;
	}
#profile
	{
		float: right;
		width: 50%;
		background-color: rgba(46, 120, 230, .75);
		color: rgba(0,0,0,.8);
		height: 100%;
	}